In [3]:
s= "this is My first Python programming class and i am learNING python string and its function"

# 1. Try to extract data from index one to index 300 with a jump of 3

In [4]:
s[1:301:3]

'h   r tnrrmglsnimeNGyosi dtfco'

# 2. Try to reverse a string without using reverse function

In [5]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsrif yM si siht'

# 3. Try to split a string after conversion of entire string in uppercase

In [8]:
s.upper().split() #s1=s.upper() #s.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

# 4. Try to convert the whole string into lower case

In [9]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

# 5.Try to capitalize the whole string

In [10]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

# 6. Write a difference between isalnum() and isalpha()

In [19]:
# isalnum() checks whether the characters in the string are letters and numbers and isalpha() checks whether the characters in the string are alphabets(letters)
# example 
a = "arnavvk18"
b = "arnav"

In [20]:
a.isalnum()

True

In [21]:
a.isalpha()

False

In [22]:
b.isalnum()

True

In [23]:
b.isalpha()

True

# 7. Try to give an example of expand tab

In [24]:
exp=" This\tis\ta\texample"
exp.expandtabs()

' This   is      a       example'

# 8. Give an example of strip, lstrip and rstrip

In [32]:
# example of strip
strip = "@arnav_vk18"

In [33]:
strip.strip("@18")

'arnav_vk'